$contentClass = '.theme-default-content'

// colors
$accentColor ?= #c7e8ff
$textColor ?= #559de7
$borderColor ?= #559de7
$codeBgColor ?= #56585d
$backgroundColor = #559de7 // 悬浮块背景色
$arrowBgColor ?= #ccc
$badgeTipColor ?= #559de7
$badgeWarningColor ?= darken(#ffe564, 35%)
$badgeErrorColor ?= #2c68ee

// layout
$navbarHeight ?= 3.6rem
$sidebarWidth ?= 20rem
$contentWidth ?= 740px
$homePageWidth ?= 960px

// responsive breakpoints
$MQNarrow ?= 959px
$MQMobile ?= 719px
$MQMobileNarrow ?= 419px

// code
$lineNumbersWrapperWidth ?= 3.5rem
$codeLang ?= js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
:root{
  --default-color-10:rgba(255, 255, 255, 1);
  --default-color-9:rgba(255, 255, 255, .9);
  --default-color-8:rgba(255, 255, 255, .8);
  --default-color-7:rgba(255, 255, 255, .7);
  --default-color-6:rgba(255, 255, 255, .6);
  --default-color-5:rgba(255, 255, 255, .5);
  --default-color-4:rgba(255, 255, 255, .4);
  --default-color-3:rgba(255, 255, 255, .3);
  --default-color-2:rgba(255, 255, 255, .2);
  --default-color-1:rgba(255, 255, 255, .1);
  --background-color:#fff;
  --box-shadow:0 1px 8px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-hover:0 2px 16px 0 rgba(0, 0, 0, 0.2);
  --text-color:#242424;
  --text-color-sub: #7F7F7F;
  --border-color: #eaecef;
  --code-color: rgba(27, 31, 35, 0.05);
  --mask-color: #888;

}
